
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Inserisci Nuova Prenotazione", "Prenotazione", "Prenotazione")
<br />
@Html.ActionLink("Visualizza Elenco Prenotazioni", "ElencoPrenotazioni", "Prenotazione")