@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pannello di controllo prenotazioni</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inserisci Nuova Prenotazione</h5>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Prenotazione", "Prenotazione")'">Vai</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Visualizza Elenco Prenotazioni</h5>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("ElencoPrenotazioni", "Prenotazione")'">Vai</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prenotazioni per Cliente</h5>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("PrenotazioniPerCliente", "RicercaPrenotazioni")'">Vai</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Numero Prenotazioni Pensione Completa</h5>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("NumeroPrenotazioniPensioneCompleta", "RicercaPrenotazioni")'">Vai</button>
                </div>
            </div>
        </div>
    </div>
</div>
